*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    
    
}
body{
    background-color:rgb(31, 151, 167);
    
}

header{
    background: wheat;
}
header > h1 {
    color: black;
    text-align: center;
    font-family: sans-serif;
}
.score-board{
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 4px;
    color: black;
    width: 200px;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    font-family: sans-serif;
    position: relative;
}

.badge{
    background-color: brown;
    color: black;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;
}
#user-label{
    position: absolute;
    top: 35px;
    left: -25px;

}

#computer-label{
    position: absolute;
    top: 35px;
    right: -25px;

}
.result{
    font-size: 40px;
    color: black;

}
.result > p{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
.choices{
 text-align: center;
 margin: 50px 0;
 
}

.choice{
    display: inline-block;
    border: 4px solid black;
    margin: 0 20px;
    padding: 10px;
   border-radius: 10%;
   transition: all 0.3s ease;
   
}
.choice:hover{
    cursor: pointer;
    background: blanchedalmond;

}
#action-message{
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
}