@tailwind base;
@tailwind components;
@tailwind utilities;
pre{
  border-radius: 8px;
  background-color: #2f3640 !important;
  color: rgb(183, 255, 255) !important;
  scroll-padding-top: 20px;
  overflow-x: scroll;
  padding: 15px;
  margin-bottom: 15px;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

