body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #7b4397;
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
  background: linear-gradient(to right, #dc2430, #7b4397);
}

div {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

form p {
  margin: 15px 0;
}

label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

button:hover {
  background-color: #218838;
}

#results {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

#weight-guide {
  margin-top: 30px;
  text-align: left;
}

#weight-guide h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

#weight-guide p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}
